{# extend the parent tpl #}
{% extends 'layout_frontend.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Contact' %}


{# overwrite the pageContent block #}
{% block pageContent %}
    <p class="breadcrumb">
        <a href="{{ path('home') }}">Home</a> &raquo;
        <a href="{{ app.request.baseUrl }}/internships/">Internships</a> &raquo;
        <a href="{{ app.request.baseUrl }}/internships/{{ internship.id }}">Internship detail</a> &raquo; Company contact
    </p>

    <div class="container-fluid">
        <h2 class="offset1">{{ company.name|capitalize }}</h2>

        <div class="row-fluid">

            <div class="span5 offset1" id="map-canvas" data-lat="{{ coordinates.lat }}" data-long="{{ coordinates.long }}"></div>

            <div class="span6 contactInfo">
                <dl class="dl-horizontal">
                    <dt>Address</dt>
                    <dd>
                        {{ company.address }}
                    </dd>
                    <dt>City</dt>
                    <dd>
                        {% if company.postal_code %}
                            {{ company.postal_code }}
                        {% endif %}
                        {{ company.city }}

                    </dd>
                    <dt>Country</dt>
                    <dd>
                        {{ company.countryname }}
                    </dd>
                    <dt>&nbsp;</dt>
                    <dd>
                        &nbsp;
                    </dd>
                    <dt>Tel</dt>
                    <dd>
                        {% if company.tel %}
                            {{ company.tel }}
                        {% else %}
                            /
                        {% endif %}
                    </dd>
                    <dt>Fax</dt>
                    <dd>
                        {% if company.fax %}
                            {{ company.fax }}
                        {% else %}
                            /
                        {% endif %}
                    </dd>
                    <dt>Email</dt>
                    <dd>
                        <!-- not the real email address for testing purposes -->
                        <a href="mailto:sam_vdb4@hotmail.com">{{ company.email }}</a>
                    </dd>
                    <dt>Website</dt>
                    <dd>
                        {% if company.website %}
                            <a href="{{ company.website }}" title="{{ company.website }}">{{ company.website }}</a>
                        {% else %}
                            /
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row-fluid">
            <div class="offset1 span3 contactInfo">
                <form action="{{ app.request.baseUrl }}/internships/{{ internship.id }}/contact" method="post" {{ form_enctype(motivationform) }}
                      novalidate="novalidate">{# disable HTML5 formchecking #}
                    <fieldset>
                        <legend>Motivation form</legend>
                        <dl class="clearfix">
                            <dt class="required">
                                {{ form_label(motivationform.Email) }}
                            </dt>
                            <dd>
                                {{ form_widget(motivationform.Email) }}
                                <span class="error">{{ form_errors(motivationform.Email) }}</span>

                            </dd>
                            <dt class="required">
                                {{ form_label(motivationform.Name) }}
                            </dt>
                            <dd>
                                {{ form_widget(motivationform.Name) }}
                                <span class="error">{{ form_errors(motivationform.Name) }}</span>
                            </dd>
                            <dt class="required">
                                {{ form_label(motivationform.CV) }}
                            </dt>
                            <dd>
                                {{ form_widget(motivationform.CV) }}
                                <span class="error">{{ form_errors(motivationform.CV) }}</span>
                            </dd>
                            <dt class="required">
                                {{ form_label(motivationform.Motivation) }}
                            </dt>
                            <dd>
                                {{ form_widget(motivationform.Motivation) }}
                                <span class="error loader">{{ form_errors(motivationform.Motivation) }}</span>

                                <p>{{ send }}</p>
                            </dd>
                            <dt>
                                &nbsp;
                            </dt>
                            <dd>
                                {{ form_widget(motivationform._token) }}
                                <input class="btn btn-large btn-custom-spin" id="formUpload" type="submit" name="submit" value="Send"/>
                            </dd>
                        </dl>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

{% endblock %}