{# extend the parent tpl #}
{% extends 'layout_frontend.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Internships &ndash; details' %}

{# overwrite the pageContent block #}
{% block pageContent %}
    <p class="breadcrumb"><a href="{{ path('home') }}">Home</a> &raquo; <a href="{{ path('front.internships') }}">Internships</a> &raquo; Internship details</p>

    <!-- Internship -->
    <div class="container-fluid fill">
        <h2>{{ internship.name }}</h2>

        <div class="row-fluid">
            <div class="filler span9" id="description">
                {{ internship.description|raw }}
                <dl class="dl-horizontal">
                    <dt>Company:</dt>
                    <dd>
                        <a title="See all internships from {{ company.name }}" href="{{ path('front.internships') }}?company={{ company.name|url_encode }}">{{ company.name }}</a>
                    </dd>
                    <dt>From:</dt>
                    <dd>
                        {{ internship.date_start|date("d/M/Y") }}
                    </dd>
                    <dt>To:</dt>
                    <dd>
                        {{ internship.date_end|date("d/M/Y") }}
                    </dd>
                    <dt>Free places:</dt>
                    <dd>
                        {{ internship.free_places }}
                    </dd>
                    <dt>Subcategory:</dt>
                    <dd>
                        {{ internship.subcategory }}
                    </dd>
                </dl>
                <a class="btn btn-large btn-custom-spin" href="{{ app.request.baseUrl }}/internships/{{ internship.id }}/contact" type="button">Apply now!</a>
            </div>

            <div class="span3">
                <div class="well sidebar-nav">
                    <h3>
                        Related internships
                    </h3>

                    <!-- the current internship is 1 -->
                    {% if relatedInternships|length > 1 %}
                        {% for related in relatedInternships %}
                            {% if internship.name != related.name %}
                                <a href="{{ app.request.baseUrl }}/internships/{{ related.id }}">
                                    <p>{{ related.name }}</p>
                                </a>
                            {% endif %}
                        {% endfor %}

                    {% else %}
                        <p>There are currently no related internships.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}