{# extend the parent tpl #}
{% extends 'layout_frontend.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Internships' %}

{# overwrite the menu block #}
{% block menuContent %}

    <li class="active"><a href="{{ path('front.internships') }}">Internships</a></li>
    <li><a href="{{ path('auth.login') }}">Company Sign In</a></li>
    <li><a href="{{ path('about') }}">About</a></li>

{% endblock %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container-fluid fill">
        <div class="row-fluid">
            <div class="span3">

                <div class="well sidebar-nav">
                    <form action="{{ path('front.internships') }}" method="post" {{ form_enctype(internshipsearch) }} novalidate="novalidate">{# disable HTML5 formchecking #}
                        <dl class="clearfix">
                            <dt>
                                {{ form_label(internshipsearch.Search) }}
                            </dt>
                            <dd>
                                {{ form_widget(internshipsearch.Search) }}
                            </dd>
                            <dt>
                                &nbsp;
                            </dt>
                            <dd>
                                {{ form_widget(internshipsearch._token) }}
                                <input class="btn" type="submit" name="submit" value="Search"/>
                            </dd>
                        </dl>
                    </form>

                    <form action="{{ path('front.internships') }}" method="post" {{ form_enctype(internshipfilter) }} novalidate="novalidate">{# disable HTML5 formchecking #}
                        <dl class="clearfix">
                            <dt>
                                {{ form_label(internshipfilter.Company) }}
                            </dt>
                            <dd>
                                {{ form_widget(internshipfilter.Company) }}
                            </dd>
                            <dt>
                                {{ form_label(internshipfilter.Country) }}
                            </dt>
                            <dd>
                                {{ form_widget(internshipfilter.Country) }}
                            </dd>

                            <dt>
                                {{ form_label(internshipfilter.Category) }}
                            </dt>
                            <dd>
                                {{ form_widget(internshipfilter.Category) }}
                            </dd>
                            <dt>
                                {{ form_label(internshipfilter.Start) }}
                            </dt>
                            <dd>
                                {{ form_widget(internshipfilter.Start) }}
                            </dd>
                            <dt>
                                {{ form_label(internshipfilter.End) }}
                            </dt>
                            <dd>
                                {{ form_widget(internshipfilter.End) }}
                            </dd>
                            <dt>
                                &nbsp;
                            </dt>
                            <dd>
                                {{ form_widget(internshipfilter._token) }}
                                <input class="btn" type="submit" name="submit" value="Filter"/>
                            </dd>
                        </dl>
                    </form>
                </div>

            </div>
            <!-- Internships -->
            {% if internships %}

            {% if filtered %}
                <div class="filler span9">
                    <div id="numFound" class="row-fluid">

                        <!-- Fix for a spelling error when there is only one result -->
                        {% if internships|length == 1 %}
                        <p>{{ internships|length }} result found.
                            {% else %}

                        <p>{{ internships|length }} results found.
                            {% endif %}
                            <a href="{{ path('front.internships') }}">Show all internships</a></p>
                    </div>
                </div>

            {% endif %}


            <div class="filler span9">
                <div class="row-fluid" id="internships_headers">
                    <div class="span2"><p><strong>Company</strong></p></div>
                    <div class="span4"><p><strong>Title</strong></p></div>
                    <div class="span2"><p><strong>Country</strong></p></div>
                    <div class="span1"><p><strong>Duration</strong></p></div>
                    <div class="span3"><p><strong>Category</strong></p></div>
                </div>

                {% for internship in pagerfanta.currentPageResults %}
                    <div class="row-fluid internshipRow">
                        <a href="{{ app.request.baseUrl }}/internships/{{ internship.id }}">
                            {% if internship.logo %}
                                <div class="span2">
                                    <img class="resize" alt="{{ internship.companyname|capitalize }}" title="{{ internship.companyname|capitalize }}"
                                         src="{{ app.request.baseUrl }}/files/logos/{{ internship.logo }}"/>
                                </div>
                            {% else %}
                                <div class="span2">
                                    <p title="{{ internship.companyname|capitalize }}">{{ internship.companyname|capitalize|truncate(16) }}</p>
                                </div>
                            {% endif %}
                            <div class="span4"><p title="{{ internship.title }}">{{ internship.title|truncate(30) }}</p></div>
                            <div class="span2"><p title="{{ internship.country }}">{{ internship.country|truncate(12) }}</p></div>
                            <div class="span1"><p title="{{ internship.duration }}">{{ internship.duration|truncate(4) }} w.</p></div>
                            <div class="span3"><p title="{{ internship.category }}">{{ internship.category|truncate(20)|raw }}</p></div>
                        </a>
                    </div>

                {% endfor %}
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap') }}

                {% else %}
                    <div class="filler span9">
                        <div id="searchError" class="row-fluid text-center">
                            <p>Your search returned no results, please try something else.</p>
                            <p><em>or</em></p>
                             <p><a href="{{ path('front.internships') }}">Show all internships</a></p>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}