<!DOCTYPE html>
    <!--[if lt IE 7 ]><html class="oldie ie6" lang="en"><![endif]-->
    <!--[if IE 7 ]><html class="oldie ie7" lang="en"><![endif]-->
    <!--[if IE 8 ]><html class="oldie ie8" lang="en"><![endif]-->
    <!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
    <head>

        <title>{{ pageTitle|raw }}</title>

        <meta charset="UTF-8" />
        <meta http-equiv="cleartype" content="on" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <!-- Tiny MCE -->
        <script type="text/javascript" src="{{ app.request.baseUrl }}/scripts/tinymce/tinymce.min.js"></script>
        <script type=text/javascript  src="{{ app.request.baseUrl }}/scripts/tinymce_init.js"></script>
        <!-- JQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type=text/javascript  src="{{ app.request.baseUrl }}/scripts/jquery-ui-1.10.2.custom.min.js"></script>
        <!-- Cross-browser placeholders -->
        <script src="{{ app.request.baseUrl }}/scripts/modernizr-ia.js"></script>
        <script src="{{ app.request.baseUrl }}/scripts/placeholder.js"></script>
        <!-- Scripts -->
        <script src="{{ app.request.baseUrl }}/scripts/scriptCMS.js"></script>
        <!-- CSS -->
        <link rel="stylesheet"  href="{{ app.request.baseUrl }}/css/reset.css" />
        <link rel="stylesheet"  href="{{ app.request.baseUrl }}/css/clearfix.css" />
        <link rel="stylesheet"  href="{{ app.request.baseUrl }}/css/CMS_styles.css" />
        <link rel="stylesheet"  href="{{ app.request.baseUrl }}/css/jquery_ui/jquery-ui-1.10.2.custom.min.css" />

    </head>
    <body>
        <div id="wrapper">
            <h1><a href="{{ path('home') }}">Praxis</a></h1>

            <!-- check if there is a session -->
            {% if user is defined %}
            <div id="session">
                <p title="Click to change your profile">Welcome,
                    <a href="{{ path('management.company') }}">{{ user.company }}</a>
                </p>
                <p><a href="{{ path('auth.logout') }}">Logout</a></p>
            </div>
            {% endif %}

            {% block pageContent %}
                Hello!
            {% endblock %}

              <footer>
                <div class="container">
                    <p>&copy; Sam Van Den Berge - 2013 - <a href="http://www.samvandenberge.com">www.samvandenberge.com</a></p>
                </div>
            </footer>

        </div>

    </body>
</html>