<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="oldie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]>
<html class="oldie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]>
<html class="oldie ie8" lang="en"><![endif]-->
<!--[if IE 9 ]>
<html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
<head>

    <title>{{ pageTitle|raw }}</title>

    <meta charset="UTF-8"/>
    <meta http-equiv="cleartype" content="on"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type=text/javascript src="{{ app.request.baseUrl }}/scripts/jquery-ui-1.10.2.custom.min.js"></script>

    <!-- Cross-browser placeholders -->
    <script src="{{ app.request.baseUrl }}/scripts/modernizr-ia.js"></script>
    <script src="{{ app.request.baseUrl }}/scripts/placeholder.js"></script>

    <!-- Scripts -->
    <script type="text/javascript" src="{{ app.request.baseUrl }}/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz-G-MyqW6jbi7Lsyg0mfY9F_nCPqlxDw&amp;sensor=false"></script>
    <script src="{{ app.request.baseUrl }}/scripts/script.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/front_styles.css"/>
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/jquery_ui/jquery-ui-1.10.2.custom.min.css"/>

</head>
<body>
<div id="wrapper">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">

                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <!-- Always show this -->
                <h1 class="brand"><a href="{{ path('home') }}">Praxis</a></h1>

                <!-- Everything that's hidden at 940px or less -->
                <div class="nav-collapse collapse">
                    <ul class="nav">

                        {% block menuContent %}

                            <li><a href="{{ path('front.internships') }}">Internships</a></li>
                            <li><a href="{{ path('auth.login') }}">Company Sign In</a></li>
                            <li><a href="{{ path('about') }}">About</a></li>

                        {% endblock %}

                    </ul>
                </div>
            </div>
        </div>
    </div>


    {% block pageContent %}

    {% endblock %}


    <footer>
        <div class="container-fluid">
            <p>
                &copy; 2013 Sam Van Den Berge &mdash; <a href="http://www.samvandenberge.com">www.samvandenberge.com</a> &mdash; <a href="mailto:sam.vandenberge1@kahosl.be">Contact</a>
            </p>
        </div>
    </footer>

</div>
</body>
</html>