/**
	 * CSS Clearfix
	 * @see http://www.positioniseverything.net/easyclearing.html
	 */
		.clearfix:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}

		.ie6 .clearfix {
			display: inline-block;
		}

		.ie7 .clearfix {
			zoom: 1;
		}