/**
 * Stylesheet
 *
 * @author Sam Van Den Berge
 */

/**
* ------------------------------------------------------------------------------------------------------
* Main
* ------------------------------------------------------------------------------------------------------
*/
    @font-face {
         font-family: 'BrandonGrotesqueMedium';
         src: url("../assets/brandon_med.otf") format("opentype");
    }

    body {
        font: 62.5% "Trebuchet MS", "sans-serif"; /* Resets 1em to 10px - fix for opera*/
        border-top: 5px solid;
        line-height: 1.2;
        width: 950px;
        margin: 0 auto;
        font-size: 16px;
        background-image: url('../assets/cream_dust.png');
        background-repeat: repeat;
    }

    #wrapper {
        font-size: 0.9em;
        background-color: #ffffff;
        position: relative;
    }

    h1 {
        width: 200px;
        height: 58px;
        margin: 0 auto 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h1 a {
        display: block;
        width: 200px;
        height: 58px;
        background: transparent url(../img/praxis-logo-S.png) no-repeat 0 0;
        text-indent: -9999px;
        overflow: hidden;
    }

    .breadcrumb {
        color: #666666;
        font-size: 0.85em;
        margin-left: 115px;
    }

    button a {
        color: #ffffff;
        text-decoration: none;
    }

    button a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    .extraInfo {
        font-size: 0.75em;
    }

    img.resize {
        height: 100px; /* you can use % */
        width: auto;
        max-width:400px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #NotFoundError {
        color: red;
        font-size: 1.2em;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;

    }

/**
* ------------------------------------------------------------------------------------------------------
* Element - blue button
* ------------------------------------------------------------------------------------------------------
*/
     .bluebutton {
        background-color: #336699;
        color: #ffffff;
        border: 1px solid #bbb;
        box-shadow: inset 0 0 1px 1px #f6f6f6;
        padding: 8px 0 9px;
        text-align: center;
        border-radius: 5px;
        width: 100px;
        margin-left: 200px;
    }

    .bluebutton:hover{
        background-color: #315283;
        box-shadow: inset 0 0 1px 1px #eaeaea;
        cursor: pointer;
    }

    .bluebutton:active {
        background-color: #313c6d;
        box-shadow: inset 0 0 1px 1px #e3e3e3;
    }


/**
* ------------------------------------------------------------------------------------------------------
* Form - general
* ------------------------------------------------------------------------------------------------------
*/

    form {
        margin: 0 auto;
    }

    .error {
        font-size: 12px;
        color: red;
    }

    .error ul {
        margin: 5px 0 5px 0;
    }

    form dl {
        width: 400px;
        margin: 0 auto;
    }

    form dt {
        width: 150px;
        height: 27px;
        float: left;
    }

    form dd {
        width: 250px;
        float: left;
        margin: 0;
        margin-bottom: 4px;
    }

    form dt.required label:after {
        content: "*";
    }

    form span.extraFormInfo {
        font-size: 11px;
    }



    .register form dl:nth-child(1) {
        padding-bottom: 6px;
        margin-bottom: 12px;
        border-bottom: 2px solid rgba(51, 102, 153, 0.68);
    }

    .register form dl:nth-child(2) {
       padding-bottom: 6px;
        margin-bottom: 12px;
        border-bottom: 2px solid rgba(51, 102, 153, 0.68);
    }

    /*.register form dl:nth-child(3) {
       padding-bottom: 6px;
        margin-bottom: 12px;
        border-bottom: 2px solid rgba(51, 102, 153, 0.68);
    }*/

     #registerform_Country {
         width: 250px;
     }

     #registerform_Subcategory {
         width: 650px;
     }





    /**
    * Login placeholders
    * @see http://webdesignerwall.com/tutorials/cross-browser-html5-placeholder-text
    */
    form a {
        color: #3295E0;
    }

    a:hover {
        color: #3295E0;
    }

    &::-webkit-input-placeholder {
        color: #999999;
}

    &:-moz-placeholder {
        color: #222222;
    }

/**
* ------------------------------------------------------------------------------------------------------
* Wrappers
* ------------------------------------------------------------------------------------------------------
*/
    .register, #login, #overview,.newInternship {
        width: 700px;
        margin: 0 auto;
        line-height: 1.5em;
        border: 1px;
        padding: 10px;
        border-style: solid;
        border-color: #eee;
        margin-top: 20px;
        border-radius: 5px;
    }

/**
* ------------------------------------------------------------------------------------------------------
* Form - registration
* ------------------------------------------------------------------------------------------------------
*/

    form dt {
        color: #333333;;
        font-weight: bold;
        margin-bottom: 5px;
    }
   form input[type=text], input[type=password], input[type=email], input[type=url] {
        width: 245px;
        border-radius: 3px;
        border: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55) inset, 0 -1px 0 rgba(0, 0, 0, 0.29) inset;
        transition: all 0.2s linear;
        color: #222222;
        height: 25px;
        outline: none;
        margin-bottom: 5px;
        padding-left: 5px;
    }

    .registerform_Country {
        box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
        width: 250px;
        height: 25px;
        outline: none;
        margin-bottom: 5px;
    }

    .register input[type=submit] {
        margin-left: 150px;
    }


/**
* ------------------------------------------------------------------------------------------------------
* Form - login
* ------------------------------------------------------------------------------------------------------
*/

     #login #loginLinks p:nth-child(1) a {
        position: relative;
         left: 235px;
         top: -35px;
    }

    #login #loginLinks p:nth-child(2) {
        margin-top: 5px;
        margin-left: 235px;
    }

    #login form dl {
        width: 530px;
        margin: 0 auto;
    }

    /**
    * Login form input fields
    *@see http://glyphicons.com
    *@see http://ivomynttinen.com/blog/going-crazy-with-css3-issue-2-creating-inputs-with-perfect-borders-and-shadows
    */
    #login input[type=password] {
        width: 250px;
        border-radius: 3px;
        border: none;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
        transition: all 0.2s linear;
        color: #222222;
        height: 36px;
        padding-left: 50px;
        background: url(../img/password-icon.png) 12px 11px no-repeat, #FFF;
        outline: none;
    }

    #login input[type=email] {
        width: 250px;
        border-radius: 3px;
        border: none;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
        transition: all 0.2s linear;
        color: #222222;
        height: 36px;
        padding-left: 50px;
        background: url(../img/user-icon.png) 12px 11px no-repeat, #FFF;
        outline: none;
    }


/**
* ------------------------------------------------------------------------------------------------------
* Session
* ------------------------------------------------------------------------------------------------------
*/

    #session {
        border: 2px solid #CFCFCF;
        border-radius: 5px;
        padding: 5px;
        height: 35px;
        position: absolute;
        top: 56px;
        right: 115px;
        background-color: #F2F2F2;
    }

/**
* ------------------------------------------------------------------------------------------------------
* Overview internships
* ------------------------------------------------------------------------------------------------------
*/
    h2 {
        font-family: "BrandonGrotesqueMedium", "Trebuchet MS", "sans-serif";
        margin-bottom: 20px;
    }

     #overview ul a {
         color: #222222;
        text-decoration: none;
    }

    #overview ul {
        border: 2px solid #888888;
        border-radius: 5px;
        font-size: 1.05em;
        margin-bottom: 5px;
        height: 29px;
    }

     #overview ul > li {
         padding-left: 5px;
         float: left;
         padding-top: 5px;
         padding-bottom: 5px;
         height: 15px;
     }

    #overview ul > li:nth-child(2), #overview ul > li:nth-child(3) {
        float: right;
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    #overview ul > li:nth-child(2) {
        margin-right: 20px;
    }

    #overview ul > li:nth-child(2) a, #overview ul > li:nth-child(3) a {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: transparent url(../img/remove-icon.png) no-repeat 0 0;
        text-indent: -9999px;
        overflow: hidden;
    }

    #overview ul > li:nth-child(3) a {
        background: transparent url(../img/edit-icon.png) no-repeat 0 0;
    }

    #addnew {
        margin-top: 5px;
        margin-left: 0;
    }


/**
* ------------------------------------------------------------------------------------------------------
* Form - new
* ------------------------------------------------------------------------------------------------------
*/

    .newInternship form dl {
        width: 650px;
    }

    .newInternship form dt {
        float: none;
    }

    .newInternship form dd {
        width: 650px;
         float: none;
    }

    .newInternship form dd input[type=text] {
         width: 645px;
    }

    /* align submit button in the center */
    .newInternship form dd:last-child {
        text-align: center;
        margin: 0 auto;
    }

   .newInternship form dd input[type=submit] {
        text-align: center;
        margin: 0 auto;
    }
/**
* ------------------------------------------------------------------------------------------------------
* Footer
* ------------------------------------------------------------------------------------------------------
*/

    footer {
        width: 720px;
        margin: 0 auto;
        margin-top: 50px;
        padding-bottom: 15px;
    }

    footer p {
        font-size: 0.9em;
        color: #222222;
        text-align: center;
        border-top: 2px solid #bbbbbb;
        padding-top: 10px;
    }

    footer a {
        text-decoration: none;
        color: #666666;
    }