/**
 * Stylesheet
 *
 * @author Sam Van Den Berge
 */


/**
* ------------------------------------------------------------------------------------------------------
* Main
* ------------------------------------------------------------------------------------------------------
*/

@font-face {
    font-family: 'BrandonGrotesqueMedium';
    src: url("../assets/brandon_med.otf") format("opentype");
}

body {
    font-family: "Trebuchet MS", "sans-serif";
    background-image: url('../assets/cream_dust.png');
    line-height: 1.5em;
}


/* logo */
h1 {
    width: 200px;
    height: 58px;
    margin: 0 auto 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 a {
    display: block;
    width: 200px;
    height: 58px;
    background: transparent url(../img/praxis-logo-S.png) no-repeat 0 0;
    text-indent: -9999px;
    overflow: hidden;
}

/* required forms */
form dt.required label:after {
    content: "*";
}

form dt.required input[type="file"]:after {
    content: "*";
}

.error {
    font-size: 12px;
    color: red;
}

.alert-error {
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 1.2em;
}

.loader {
    display: block;
    width: 43px;
    height: 11px;
    background: transparent url(../img/ajax-loader.gif) no-repeat 0 0;
    text-indent: -9999px;
    overflow: hidden;
}

/**
* ------------------------------------------------------------------------------------------------------
* fixed side bar
* @see http://stackoverflow.com/questions/8740779/how-to-build-a-2-column-fixed-fluid-layout-with-twitter-bootstrap
* ------------------------------------------------------------------------------------------------------
*/

html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
    position: relative;
}

.filler::after {
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;
}

/**
* ------------------------------------------------------------------------------------------------------
* Main navigation
* ------------------------------------------------------------------------------------------------------
*/

ul.nav li {
    line-height: 58px;
}

/**
* ------------------------------------------------------------------------------------------------------
* Homepage
* ------------------------------------------------------------------------------------------------------
*/

#tagline {
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 4.5em;
    text-align: center;
    line-height: 1.4em;
}

#tagline p {
    font-family: "BrandonGrotesqueMedium";
}

.clouds {
    background: url('../img/clouds.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home_short ul {
    list-style: none;
    margin-top: 2%;
    font-size: 1.5em;
    line-height: 1.8em;
}

#home_short ul li {
    line-height: 1.5em;
}


/**
* ------------------------------------------------------------------------------------------------------
* Internships - overview
* ------------------------------------------------------------------------------------------------------
*/

img.resize {
    height: 40px;
    width: auto;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

option {
    color: black;
}

.internshipRow a {
    color: #555555;
}

.internshipRow a:hover {
    color: lightskyblue;
}

.internshipRow {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.internshipRow:nth-child(even) {
    background-color: #F5F5F5;
}

.internshipRow p {
    margin: 0;
    line-height: 40px;
}

#description p {
    padding-bottom: 20px;
}

#searchError {
    margin-top: 20%;
}

#numFound {
    margin-bottom: 2%;
}

#internships_headers p {
    font-size: 1.2em;
}

/**
* ------------------------------------------------------------------------------------------------------
* Google maps
* ------------------------------------------------------------------------------------------------------
*/

#map-canvas {
    height: 300px;
}

/**
* ------------------------------------------------------------------------------------------------------
* Contact
* ------------------------------------------------------------------------------------------------------
*/

.contactInfo dt, .contactInfo dd {
    line-height: 2.5em;
}

.contactInfo input[type="text"], .contactInfo textarea {
    width: 100%;
}

.contactInfo textarea {
    height: 100px;
}

input[type="file"] {
    line-height: 20px;
    margin-bottom: 5px;
}


/**
* ------------------------------------------------------------------------------------------------------
* About
* ------------------------------------------------------------------------------------------------------
*/

#myCarousel {
    width: 400px;
    margin: 0 auto;
}

/* smallest view fix - remove custom width*/
@media (max-width: 480px) {
    #myCarousel {
        width: auto;
    };
}

#about {
    font-size: 1.15em;
}

/**
* ------------------------------------------------------------------------------------------------------
* Footer
* ------------------------------------------------------------------------------------------------------
*/

footer {
    margin-top: 20px;
    clear: both;
}

footer p {
    font-size: 0.9em;
    color: #222222;
    text-align: center;
    border-top: 2px solid #bbbbbb;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: #666666;
}

footer {
    background-image: url('../assets/cream_dust.png');
}

/**
* ------------------------------------------------------------------------------------------------------
* Bootstrap overrides
* ------------------------------------------------------------------------------------------------------
*/

/* fix for overflow form fields when resizing */
input, select {
    max-width: 100%;
}

@media (max-width: 480px) {
    .form-horizontal .controls {
        margin-left: 0;
    };
}

.dl-horizontal dt {
    text-align: left;
}

/*Google maps navigation controls fix*/
/*@see http://stackoverflow.com/questions/11898973/google-maps-zoom-look-wierd*/
img {
    max-width: none;
}

/* custom button */
/*@see http://twitterbootstrapbuttons.w3masters.nl/?color=%23005580*/
btn-custom-spin.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-custom-spin {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #004c80;
    background-image: -moz-linear-gradient(top, #005580, #004080);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#005580), to(#004080));
    background-image: -webkit-linear-gradient(top, #005580, #004080);
    background-image: -o-linear-gradient(top, #005580, #004080);
    background-image: linear-gradient(to bottom, #005580, #004080);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff005580', endColorstr='#ff004080', GradientType=0);
    border-color: #004080 #004080 #001a34;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #004080;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-custom-spin:hover,
.btn-custom-spin:focus,
.btn-custom-spin:active,
.btn-custom-spin.active,
.btn-custom-spin.disabled,
.btn-custom-spin[disabled] {
    color: #ffffff;
    background-color: #004080;
    *background-color: #003367;
}

.btn-custom-spin:active,
.btn-custom-spin.active {
    background-color: #00264d;
}

.btn-custom-spin {
    margin-bottom: 2%;
}

/* focus input fields */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color:  rgba(116, 176, 255, 0.3);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px  rgba(116, 176, 255, 0.1);
outline: 0 none;}