{# extend the parent tpl #}
{% extends 'layout_frontend.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Home' %}


{# overwrite the pageContent block #}
{% block pageContent %}
    <div class="row-fluid">
        <h2 class="offset4 span1 clearfix">About</h2>
    </div>
    <div class="row-fluid">
        <div class="offset4 span4" id="about">
            <p>
                The goal of this website is to provide <strong>students</strong> with an overview of international internships. The student is also able to apply for an internship.
            </p>

            <p>
                <strong>Companies</strong> are able to create an account which allows them to publish their available internships and company information. They wil also recieve emails from students
                who are interested in an internship.
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img src="../web/img/carousel/1e.jpg" alt="picture internship" width="400" height="400"/>
                </div>
                <div class="item">
                    <img src="../web/img/carousel/2e.jpg" alt="picture internship" width="400" height="400"/>
                </div>
                <div class="item">
                    <img src="../web/img/carousel/3e.jpg" alt="picture internship" width="400" height="400"/>
                </div>
                <div class="item">
                    <img src="../web/img/carousel/4e.jpg" alt="picture internship" width="400" height="400"/>
                </div>
                <div class="item">
                    <img src="../web/img/carousel/5e.jpg" alt="picture internship" width="400" height="400"/>
                </div>
                <div class="item">
                    <img src="../web/img/carousel/6e.jpg" alt="picture internship" width="400" height="400"/>
                </div>
                <div class="item">
                    <img src="../web/img/carousel/7e.jpg" alt="picture internship" width="400" height="400"/>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>

{% endblock %}