{# extend the parent tpl #}
{% extends 'layout_frontend.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Home' %}


{# overwrite the pageContent block #}
{% block pageContent %}

    <div id="homePage">
        <div id="tagline">
            <p>Broaden Your Mind<br>Go international!</p>
        </div>

        <div class=" row-fluid text-center">
            <p>
                <a class="btn btn-large btn-custom-spin" type="button" href="{{ path('auth.login') }}">I&apos;m a company</a>
                <a class="btn btn-large btn-custom-spin" type="button" href="{{ path('front.internships') }}">I&apos;m a student</a>
            </p>
        </div>

        <div class="container-fluid">
            <div class="row-fluid" id="home_short">
                <ul class="text-center">
                    <li>Are you a student?</li>
                    <li>Are you independable?</li>
                    <li>In for a life&ndash;changing opportunity?</li>
                    <li>Do you want to go international?</li>
                    <li><strong>Welcome to Praxis Internshipmarket!</strong></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}