{# extend the parent tpl #}
{% extends 'layout_frontend.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Praxis &raquo; 404 - Page Not Found' %}

{% block pageContent %}
    <p class="breadcrumb"><a href="{{ path('home') }}">Praxis</a> &raquo; 404 - Page Not Found</p>

    <p class="span6 offset4 text-center alert-error" id="NotFoundError">{{ error }}</p>
{% endblock %}