{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Auth &raquo; Please Log In' %}


{# overwrite the pageContent block #}
{% block pageContent %}
    <div id="login">
        <form action="{{ path('auth.login') }}" method="post" {{ form_enctype(loginform) }} novalidate="novalidate">{# disable HTML5 formchecking #}
            <dl class="clearfix">
                <dt>
                    &nbsp;
                </dt>
                <dd>
                    {{ form_widget(loginform.Email, { 'attr': {'placeholder': 'email' } }) }}
                    <span class="error">{{ form_errors(loginform.Email) }}</span>
                </dd>
                <dt>
                    &nbsp;
                </dt>
                <dd>
                    {{ form_widget(loginform.Password, { 'attr': {'placeholder': 'password' } }) }}
                    <span class="error">{{ form_errors(loginform.Password) }}</span>
                </dd>
                <dt>
                    &nbsp;
                </dt>
                <dd>
                    {{ form_widget(loginform._token) }}
                    <input type="submit" name="submit" value="Login" class="bluebutton"/>
                </dd>
            </dl>
        </form>
        <section id="loginLinks">
            <p><a href="mailto:sam.vandenberge1@kahosl.be?Subject=I%20forgot%20my%20password">Forgot password</a></p>

            <p>Don't have an account yet? <a href="{{ path('auth.register') }}">Register!</a></p>
        </section>
    </div>
{% endblock %}