{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Auth &raquo; Registration' %}


{# overwrite the pageContent block #}
{% block pageContent %}
    <p class="breadcrumb"><a href="{{ path('home') }}">CMS</a> &raquo; Registration</p>
    <div class="register">

        <form action="{{ path('auth.register') }}" method="post" {{ form_enctype(registerform) }} novalidate="novalidate">{# disable HTML5 formchecking #}
            <dl class="clearfix">
                <dt class="required">
                    {{ form_label(registerform.Name) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Name) }}
                    <span class="error">{{ form_errors(registerform.Name) }}</span>
                </dd>
                <dt class="required">
                    {{ form_label(registerform.Password) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Password) }}
                    <span class="error">{{ form_errors(registerform.Password) }}</span>
                </dd>

                <dt class="required">
                    Confirm {{ form_label(registerform.Password) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Password2) }}
                    <span class="error">{{ form_errors(registerform.Password2) }}</span>
                </dd>

                <dt class="required">
                    {{ form_label(registerform.Email) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Email) }}
                    <span class="error">{{ form_errors(registerform.Email) }}</span>
                </dd>

                <dt class="required">
                    Confirm {{ form_label(registerform.Email) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Email2) }}
                    <span class="error">{{ form_errors(registerform.Email2) }}</span>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt class="required">
                    {{ form_label(registerform.Address) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Address) }}
                    <span class="error">{{ form_errors(registerform.Address) }}</span>
                </dd>

                <dt class="required">
                    {{ form_label(registerform.City) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.City) }}
                    <span class="error">{{ form_errors(registerform.City) }}</span>
                </dd>
                <dt>
                    {{ form_label(registerform.Postalcode) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Postalcode) }}
                    <span class="error">{{ form_errors(registerform.Postalcode) }}</span>
                </dd>

                <dt class="required">
                    {{ form_label(registerform.Country) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Country) }}
                    <span class="error">{{ form_errors(registerform.Country) }}</span>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>
                    {{ form_label(registerform.Tel) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Tel) }}
                    <span class="error">{{ form_errors(registerform.Tel) }}</span>
                </dd>

                <dt>
                    {{ form_label(registerform.Fax) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Fax) }}
                    <span class="error">{{ form_errors(registerform.Fax) }}</span>
                </dd>

                <dt>
                    {{ form_label(registerform.Website) }}
                </dt>
                <dd>
                    {{ form_widget(registerform.Website) }}
                    <span class="error">{{ form_errors(registerform.Website) }}</span>
                </dd>
                <dt>
                    &nbsp;
                </dt>
                <dd>
                    {{ form_widget(registerform._token) }}
                    <input type="submit" name="submit" value="Register" class="bluebutton"/>
                </dd>
            </dl>
        </form>
    </div>
{% endblock %}