{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'CMS &raquo; Add New' %}


{# overwrite the pageContent block #}
{% block pageContent %}
    <p class="breadcrumb"><a href="{{ path('management.overview') }}">CMS</a> &raquo; New Internship</p>

    <div class="newInternship"">
        <h2>New internship</h2>

        <form action="{{ path('management.add') }}" method="post" {{ form_enctype(newform) }} novalidate="novalidate">{# disable HTML5 formchecking #}
            <dl class="clearfix">
                <dt>
                    {{ form_label(newform.Title) }}
                </dt>
                <dd>
                    {{ form_widget(newform.Title) }}
                    <span class="error">{{ form_errors(newform.Title) }}</span>
                </dd>
                <dt>
                    {{ form_label(newform.Description) }}
                </dt>
                <dd>
                    {{ form_widget(newform.Description, { 'attr': {'class': 'wysiwyg' } }) }}
                    <span class="error">{{ form_errors(newform.Description) }}</span>
                </dd>
                <dt>
                    {{ form_label(newform.Free) }}
                </dt>
                <dd>
                    {{ form_widget(newform.Free) }}
                    <span class="error">{{ form_errors(newform.Free) }}</span>
                </dd>
                <dt>
                    {{ form_label(newform.Start) }}
                </dt>

                <dd>
                    {{ form_widget(newform.Start) }}
                    <span class="error">{{ form_errors(newform.Start) }}</span>
                </dd>

                <dt>
                    {{ form_label(newform.End) }}
                </dt>
                <dd>
                    {{ form_widget(newform.End) }}
                    <span class="error">{{ form_errors(newform.End) }}</span>
                </dd>
                <dt>
                    {{ form_label(newform.Subcategory) }}
                </dt>
                <dd>
                    {{ form_widget(newform.Subcategory) }}
                    <span class="error">{{ form_errors(newform.Subcategory) }}</span>
                </dd>
                <dt>
                    &nbsp;
                </dt>
                <dd>
                    {{ form_widget(newform._token) }}
                    <input type="submit" name="submit" value="submit" class="bluebutton"/>
                </dd>
            </dl>
        </form>
    </div>
{% endblock %}