{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'CMS &raquo; Edit Profile' %}


{# overwrite the pageContent block #}
{% block pageContent %}
    <p class="breadcrumb"><a href="{{ path('management.overview') }}">CMS</a> &raquo; Edit Profile</p>
    <div class="register">
        <form action="{{ path('management.company') }}" method="post" {{ form_enctype(companyform) }} novalidate="novalidate">{# disable HTML5 formchecking #}
            <dl class="clearfix">
                <dt class="required">
                    {{ form_label(companyform.Name) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Name) }}
                    <span class="error">{{ form_errors(companyform.Name) }}</span>
                </dd>

                <dt>
                    {{ form_label(companyform.Password) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Password) }}
                    <span class="error">{{ form_errors(companyform.Password) }}</span>
                </dd>

                <dt>
                    Confirm {{ form_label(companyform.Password) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Password2) }}
                    <span class="error">{{ form_errors(companyform.Password2) }}</span>
                </dd>

                <dt class="required">
                    {{ form_label(companyform.Email) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Email) }}
                    <span class="error">{{ form_errors(companyform.Email) }}</span>
                </dd>

                <dt>
                    Confirm {{ form_label(companyform.Email) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Email2) }}
                    <span class="error">{{ form_errors(companyform.Email2) }}</span>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt class="required">
                    {{ form_label(companyform.Address) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Address) }}
                    <span class="error">{{ form_errors(companyform.Address) }}</span>
                </dd>

                <dt class="required">
                    {{ form_label(companyform.City) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.City) }}
                    <span class="error">{{ form_errors(companyform.City) }}</span>
                </dd>

                <dt>
                    {{ form_label(companyform.Postalcode) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Postalcode) }}
                    <span class="error">{{ form_errors(companyform.Postalcode) }}</span>
                </dd>

                 <dt class="required">
                    {{ form_label(companyform.Country) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Country) }}
                    <span class="error">{{ form_errors(companyform.Country) }}</span>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>
                    {{ form_label(companyform.Tel) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Tel) }}
                    <span class="error">{{ form_errors(companyform.Tel) }}</span>
                </dd>

                <dt>
                    {{ form_label(companyform.Fax) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Fax) }}
                    <span class="error">{{ form_errors(companyform.Fax) }}</span>
                </dd>

                <dt>
                    {{ form_label(companyform.Website) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Website) }}
                    <span class="error">{{ form_errors(companyform.Website) }}</span>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>
                {{ form_label(companyform.Logo) }}
                </dt>
                <dd>
                    {{ form_widget(companyform.Logo) }}
                    {{ form_errors(companyform.Logo) }}
                </dd>
                <p><img id="companyLogo" class="resize" src="{{ app.request.baseUrl }}/{{ logo}}" alt="company logo"" /></p>
            </dl>
                <dt>
                    &nbsp;
                </dt>
                <dd>
                    {{ form_widget(companyform._token) }}
                    <input type="submit" name="submit" value="submit" class="bluebutton"/>
                </dd>
            </dl>
        </form>
    </div>
{% endblock %}