{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'CMS &raquo; Edit Internship' %}


{# overwrite the pageContent block #}
{% block pageContent %}
    <p class="breadcrumb"><a href="{{ path('management.overview') }}">CMS</a> &raquo; Edit Internship</p>
    <div class="newInternship">
        <h2>Edit internship</h2>
        <form action="{{ app.request.baseUrl }}/management/edit/{{ internship.id }}" method="post" {{ form_enctype(editform) }} novalidate="novalidate">{# disable HTML5 formchecking #}
            <dl class="clearfix">
            <dt>
                {{ form_label(editform.Title) }}
            </dt>
            <dd>
                {{ form_widget(editform.Title) }}
                <span class="error">{{ form_errors(editform.Title) }}</span>
            </dd>
            <dt>
                {{ form_label(editform.Description) }}
            </dt>
            <dd>
                {{ form_widget(editform.Description, { 'attr': {'class': 'wysiwyg' } }) }}
                <span class="error">{{ form_errors(editform.Description) }}</span>
            </dd>
            <dt>
                {{ form_label(editform.Free) }}
            </dt>
            <dd>
                {{ form_widget(editform.Free) }}
                <span class="error">{{ form_errors(editform.Free) }}</span>
            </dd>
            <dt>
                {{ form_label(editform.Start) }}
            </dt>
            <dd>
                {{ form_widget(editform.Start) }}
                <span class="error">{{ form_errors(editform.Start) }}</span>
            </dd>
            <dt>
                {{ form_label(editform.End) }}
            </dt>
            <dd>
                {{ form_widget(editform.End) }}
                <span class="error">{{ form_errors(editform.End) }}</span>
            </dd>
            <dt>
                {{ form_label(editform.Subcategory) }}
            </dt>
            <dd>
                {{ form_widget(editform.Subcategory) }}
                <span class="error">{{ form_errors(editform.Subcategory) }}</span>
            </dd>
            <dt>
            <dt>
                &nbsp;
            </dt>
            <dd>
                {{ form_widget(editform._token) }}
                <input type="submit" name="submit" value="submit" class="bluebutton"/>
            </dd>
        </dl>
        </form>
   </div>
{% endblock %}