{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'CMS &raquo; Overview' %}


{# overwrite the pageContent block #}
{% block pageContent %}
    <p class="breadcrumb"><a href="{{ path('home') }}">CMS</a> &raquo; Overview</p>
    <div id="overview">
        <h2>Overview internships</h2>
        {% if internships %}
            <section>
            {% for internship in internships %}
              <ul class="clearfix">
                    <li title="Click for details"><a href="{{ app.request.baseUrl }}/management/edit/{{ internship.id }}">{{ internship.name }} &ndash; <span class="extraInfo">{{ internship.date_start|date("d/m/Y") }}</span></a></li>
                    <li title="Delete" class="onDelete"><a href="{{ app.request.baseUrl }}/management/delete/{{ internship.id }}">Delete</a></li>
                  <li title="Edit"><a href="{{ app.request.baseUrl }}/management/edit/{{ internship.id }}">Edit</a></li>
              </ul>
          {% endfor %}
            </section>
        {% else %}
            <p>You currently don't have any internships.</p>
        {% endif %}
        <button type="button" id="addnew" class="bluebutton"><a href="{{ app.request.baseUrl }}/management/add">Add new!</a></button>
    </div>
{% endblock %}